.full-height {
  height: 100vh;
}

.user-placeholder {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  border: 1px solid #d7dadc;
  border-radius: 50%;
}

img.avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

// Dashboard
.pg-dashboard {
  .timer {
    font-size: 40px;
  }
}